body {
  margin: 0%;
}

* {
  box-sizing: border-box;
}

.action-bar {
  background-color: coral;
  height: 8vh;
  /* border: 5px solid blue; */
  display: flex;
}

.action-bar * {
  border: 3px solid white;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 5px;
  cursor: pointer;
}

.action-bar span:hover {
  background-color: white;
}

.action-bar select {
  background-color: cyan;
}

.action-bar select:hover {
  background-color: white;
}

.action-bar select option {
  margin: 10px;
  border-bottom: 2px solid teal;
}

.content {
  /* background-color: blue; */
  height: 94vh;
  display: flex;
}

.content-list {
  border: 5px solid red;
  width: 15vw;
}

.content-details {
  border: 5px solid aqua;
  width: 85vw;
}

.overlay {
  visibility: hidden;
  position: fixed;
  height: 92vh;
  width: 100vw;
  top: 8vh;
  left: 0%;
  background-color: black;
  opacity: 0.5;
  z-index: 2;
}

#overlay-text {
  position: absolute;
  font-size: 50px;
  color: white;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Horizontal alignment */
  text-align: center;
  /* vertical alignment */
  line-height: 100px;
  vertical-align: middle;

  /* border: 2px solid white; */
}

#new-image {
  background-color: teal;
  border-radius: 5px;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  cursor: pointer;
  color: white;
  font-weight: 900;
  margin: 5px;
}

#new-image:hover {
  transform: scale(1.02);
}

#image-list {
  height: calc(92vh - 120px);
  overflow-y: auto;
  overflow-x: hidden;
}
